<footer>
    <div class="container-fluid">
      <div class="row">
        <div col-md-12>
          <ul class="footer-list">
            <li class="search"><i class="fa fa-search" aria-hidden="true"></i></li>
            <li>&nbsp; Help & Contact</li>
            <li>&nbsp; Fees</li>
            <li>&nbsp; Security</li>
            <li>&nbsp; Apps</li>
            <li>&nbsp; Shops</li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row">
        <div col-md-12>
          <ul class="footer-list">
            <li>&nbsp; About</li>
            <li>&nbsp; Blog</li>
            <li>&nbsp; Jobs</li>
            <li>&nbsp; Investor Relations</li>
            <li>&nbsp; Social Innovation</li>
            <li>&nbsp; Public Policy</li>
            <li>&nbsp; Sitemap</li>
            <li>&nbsp; Enterprice</li>
            <li>&nbsp; Partners</li>
            <li class="right">&nbsp; &copy;1999-2018</li>
            <li>&nbsp; Privacy</li>
            <li>&nbsp; Legal</li>
            <li>&nbsp; Feedback</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>