<div class="timeline">
  <div class="row">
    <div class="col-md-6" id="container">
        <img class="left" src="https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/consumer-desktop-hero.jpg">
        <div class="centered">
          <h4>Personal</h4>
          <p>Learn how PayPal makes it easy to shop and send money to family and friends</p>
          <h5 class="circle">+</h5>
        </div>
        <div class="middle" >
            <div class="text">
              <h2>Personal</h2>
              <p>Send money, pay on your terms and shop easily all with PayPal.</p>
              <div class="row">
                <div class="col-md-4">
                    <p>Send money to friends and family or move funds from one account to another.*</p>
                </div>
                <div class="col-md-4">
                    <p>Expand your payment options with our credit, debit, prepaid cards &amp; PayPal Credit.**</p>
                </div>
                <div class="col-md-4">
                    <p>Check out faster, at any of the millions of sites PayPal is accepted.</p>                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="col-md-6">
        <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/merchant-desktop-hero.jpg">
        <div class="centered">
          <h4>Business</h4>
          <p>Start accepting all kinds of payments with one PayPal business account</p>
          <h5 class="circle">+</h5>
        </div>
    </div>
  </div>
</div>