<div class="timeline">
  <div class="row">
    <div class="col-md-6">
        <img class="left" src="https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/consumer-desktop-hero.jpg">
        <div class="centered">
          <h4>Personal</h4>
          <p>Learn how PayPal makes it easy to shop and send money to family and friends</p>
          <h5 class="circle">+</h5>
        </div>
    </div>

    <div class="col-md-6">
        <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/merchant-desktop-hero.jpg">
        <div class="centered">
          <h4>Business</h4>
          <p>Start accepting all kinds of payments with one PayPal business account</p>
          <h5 class="circle">+</h5>
        </div>
    </div>
  </div>
</div>