<header>
  <!-- <a href="https://www.paypal.com/us/webapps/mpp/home" class="paypal-img-logo">PayPal</a> -->
<div class="navbar" id="private">
  <ul class="main-menu-list">
      <li class="personal"><a href="#" rel="menuitem">Personal</a></li>
      <li class="business"><a href="#" rel="menuitem">Business</a></li>
      <li><a href="#" rel="menuitem">Send</a></li>
      <li><a href="#" rel="menuitem">Request</a></li>
    </ul>
</div>
<div class="header-buttons">
  <a href="#" class="btn">Log In</a>
  <a href="#" class="btn" id="signup">Sign Up</a>
</div>
</header>