li{
    list-style-type: none;
    display: inline;
}
a{
    color: white;
}
.navbar {
    display: block;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    color: white;
    /*border: 1px solid grey;*/
    margin-left: -15px;
    margin-right: -15px;
    background-color:rgba(0, 0, 0, 0.4);
  }

  .main-menu-list li{
      margin: 10px;
  }
  .header-buttons{
      text-align: right;
      margin: 10px;
      margin-right: 50px;
  }

  #signup{
    background-color: white;
    color: black;
  }

  .btn{
    color: white;
    background-color: transparent;
    position: relative;
    border: 0;
    box-shadow: 0 0 0 1px white, 0 0 0 1px white;
    border-radius: 25px;
    font-family: "pp-sans-small-regular",Helvetica Neue,Arial,sans-serif;
}
img{
    float: left;
    margin-left:10px;
}

.small{
    font-size: 13px;
}
.row{
text-align: center;
}
h3{
    text-align: right;
    margin-right: 30px;
}
