.btn{
    color: #0070ba;
    background-color: transparent;
    position: relative;
    border: 0;
    box-shadow: 0 0 0 1px #0070ba, 0 0 0 1px #0070ba;
    border-radius: 25px;
}
h4{
    color: #0070ba;
}